<?xml version='1.0' encoding='utf-8'?>
<widget 
    id="io.recheck" 
    version="1.0.3"
    ios-CFBundleIdentifier="io.recheck"
    android-packageName="io.recheck.android"
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
>
    <name>ReCheck</name>
    <description>
        ReCheck - ReCheck's native mobile app.
    </description>
    <author email="info@recheck.io" href="https://recheck.io">
        ReCheck Team
    </author>
    <hook src="../node_modules/vue-cli-plugin-cordova/serve-config-hook.js" type="after_prepare" />
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <engine name="android" spec="^6.0.0" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="19" />

        <icon src="res/android/mipmap-mdpi/ic_launcher.png" density="mdpi" />
        <icon src="res/android/mipmap-hdpi/ic_launcher.png" density="hdpi" />
        <icon src="res/android/mipmap-xhdpi/ic_launcher.png" density="xhdpi" />
        <icon src="res/android/mipmap-xxhdpi/ic_launcher.png" density="xxhdpi" />
        <icon src="res/android/mipmap-xxxhdpi/ic_launcher.png" density="xxxhdpi" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />

        <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
            <string>need camera access to take pictures</string>
        </edit-config>
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-dialogs" spec="~2.0.2" />
    <plugin name="cordova-plugin-qrscanner" spec="~3.0.1" />
    <plugin name="cordova-plugin-permission" spec="~0.1.0" />
</widget>
